input.disabled {
    opacity: 0.65; 
    cursor: not-allowed;
}

form {
    min-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

button {
    min-width: 100px;
    max-width: 200px;
}