nav {
    background-color: black;
}

ul {
    min-height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
    height: 100%;
}